#registration {
    background-color: #b2caff;
    margin: 100px auto;
    padding: 40px;
    width: 40%;
    min-width: 300px;
    border: 3px solid black;
    border-radius: 5px;
}
h1{
    padding-left: 40%;
    width: 45%;
    height: 40%;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaa;
}

input.invalid {
    background-color: #ffdddd;
}

.tab {
    display: none;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

.step.finish {
    background-color: rgb(0, 60, 255);
}

#prevButton{
    background-color: #92b3ff;
    border: 1px solid black;
    border-radius: 10px;
}
#nextButton{
    background-color: #92b3ff;
    border: 1px solid black;
    border-radius: 10px;
}